node_modules
venv
dart*
tsunamiDART*
*.csv
*.flt
.ipynb_checkpoints
bathymetry*min
*.grd
tlab2D*
pois
eWave*
03_biobio2010/
04_tohoku2011/
easywave.log
poi_accepted.lst
poi_rejected.lst
initialSurface
shore-interaction/bathymetry
shore-interaction/easywave/easywave
