node_modules
venv
dart[2-5]*
tsunamiDART*
*.csv
*.flt
.ipynb_checkpoints
bathymetry*min
*.grd
tlab2D*
pois
eWave*
easywave.log
poi_accepted.lst
poi_rejected.lst
initialSurface
shore-interaction/bathymetry
shore-interaction/easywave/easywave
shore-interaction/nami/pois1000
shore-interaction/nami/pois4000
shore-interaction/nami/pois50
shore-interaction/nami/poism4000
.vscode
03_biobio2010/comparison/timeseries2010.png
03_biobio2010/comparison/energy2010.png
04_tohoku2011/comparison/timeseries2011.png
04_tohoku2011/comparison/energy2011.png
.DS_Store
**/error.msg
**/*.tt1
**/*.tt2
**/*.tt3
**/*.data
**/fort.*
**/_output
**/_plots
**/._output
**/._plots
**/*.kml
**/__pycache__
**/xgeoclaw
**/.output
**/.plots
**/pyclaw.log
**/job_number.log
**/make_logs.log
**/energy2010.png
**/timeseries2010.png
**/.poi_accepted.lst.swp
