node_modules
venv
dart[2-5]*
tsunamiDART*
*.csv
*.flt
.ipynb_checkpoints
bathymetry*min
*.grd
tlab2D*
pois
eWave*
easywave.log
poi_accepted.lst
poi_rejected.lst
initialSurface
shore-interaction/bathymetry
shore-interaction/easywave/easywave
shore-interaction/nami/pois1000
shore-interaction/nami/pois4000
shore-interaction/nami/pois50
shore-interaction/nami/poism4000
.vscode
03_biobio2010/comparison/timeseries2010.png
03_biobio2010/comparison/energy2010.png